main form lower #file-input-label {

    background-color: rgb(23, 218, 52);
    color: white;
    position: relative;
    top: 1.3vh;
    left: 20px;
    width: 50%;
    font-size: small;
    padding: 10px 15px;
    border: 2px solid rgb(254, 255, 255);
    border-radius: 10px;
}

main form lower #file-input {

    display: none;
    position: relative;
    left: 1%;
}