html {
    background-color: rgb(240, 237, 237);
}

* {
    margin: 0;
}

header {
    box-shadow: 1px 4px 4px 3px rgba(0.1, 0.1, 0.1, 0.1), 1px 1px 1px 0 rgba(0.1, 0.1, 0.1, 0.1);
    position: fixed;
    background-color: rgb(59, 59, 244);
    z-index: 3;
    height: 10vh;
    width: 100%;
}

header nav scarch {

    float: left;
}

header nav scarch form input[type=text] {
    border: 2px solid rgb(253, 252, 250);
    border-radius: 7px;
    position: relative;
    background-color: white;
    height: 4vh;
    width: 15vw;
    top: 3vh;
    left: 2vw;
}

header nav scarch form input[type=submit] {
    color: rgb(153, 152, 150);
    font-size: small;
    border: 2px solid rgb(253, 252, 250);
    border-radius: 7px;
    position: relative;
    background-color: white;
    height: 5vh;
    width: 5vw;
    top: 3vh;
    left: 2.5vw;
}

header nav ul a {
    padding-top: 1vh;
    font-size: large;
    text-decoration: none;
    padding-left: 5vw;
    color: white;
    position: relative;
    top: 4vh;
    left: 15vw;
}



header nav form button {
    position: fixed;
    color: rgb(153, 152, 150);
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid rgb(253, 252, 250);
    border-radius: 50%;
    background-color: white;
    left: 95%;
    top: 15px;

}

main {
    z-index: 2;
    display: grid;
    box-shadow: 1px 4px 4px 3px rgba(0.1, 0.1, 0.1, 0.1), 1px 1px 1px 0 rgba(0.1, 0.1, 0.1, 0.1);
    background-color: white;
    position: relative;
    top: 90px;
    height: 20vh;
    width: 70vh;
    left: 36vw;
    border-radius: 10px;
}

main form upper text input[type=text] {

    font-size: medium;
    text-align: center;
    background-color: rgb(247, 245, 245);
    border-radius: 20px;
    border: 1px solid antiquewhite;
    position: relative;
    top: 3vh;
    left: 1.7vw;
    height: 20%;
    width: 80%;
}

main form upper dp {
    position: relative;
    float: left;
    top: 15px;
    left: 1vw;
    color: rgb(153, 152, 150);
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid rgb(253, 252, 250);
    border-radius: 50%;
    background-color: rgb(193, 190, 190);
}


main form lower{
    
    
    
} 
main form lower #file-input-label {

    background-color: rgb(23, 218, 52);
    color: antiquewhite;
    position: relative;
    top: 6.5vh;
    left: -25px;
    width: 30%;
    font-size: small;
    padding: 10px 15px;
    border: 1px solid rgb(23, 218, 52);
    border-radius: 10px;
}

main form lower #file-input {
  
    display: none;
    position: relative;
    left: 1%;
}

main form lower input[type=submit] {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: rgb(59, 59, 244);
    color: antiquewhite;
    position: relative;
    left: 48%;
    top: 6.5vh;
    font-size: small;
    padding: 10px 15px;
    border: 1px solid rgb(99, 99, 223);
    border-radius: 10px;
    width: 8vw;
}
posts{
    display: block;
    padding: 3px 7px 3px 7px;
}
.post{
    
    margin-bottom: 30px;
    padding-top: 10px;
    display: block;
    box-shadow: 1px 4px 4px 3px rgba(0.1, 0.1, 0.1, 0.1), 1px 1px 1px 0 rgba(0.1, 0.1, 0.1, 0.1);
    background-color: white;
    position: relative;
    top: 130px;
    height: 60vh;
    width: 70vh;
    left: 35.3vw;
    border-radius: 10px;
    
}