<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceBook</title>
    <link rel="stylesheet" href="/FaceBook_Clone/templates/HomePage.css">


</head>

<body>
    <header>
        <nav>
            <scarch>
                <form>
                    <input type="text" name="scrch" placeholder="Search FaceBook">
                    <input type="submit" value="Search">
                </form>
            </scarch>
            <ul>
                <a href="#Home">Home</a>
                <a href="#Peoples">People</a>
                <a href="#Messages">Messages</a>
            </ul>

            <form>
                <button type="submit">p</button>
            </form>
        </nav>
    </header>
    <main>
        <form>
            <upper>
                <dp>
                    <img src="/FaceBook_Clone/uploads/people.jpg" alt="sorry" height="40px" width="40px">
                </dp>
                <text>
                    <input type="text" placeholder="What's going on">
                </text>
            </upper>

            <lower>
                <input type="file" id="file-input" name="file-input" />

                <label id="file-input-label" for="file-input">Photo</label>
                <input type="submit" value="POST" id="submit">
            </lower>
        </form>
    </main>

    <posts>
        <post class="post">
            <post-header>
                <dp>
                    <img src="/FaceBook_Clone/uploads/people.jpg" alt="sorry" height="40px" width="40px">
                </dp>
                <post-name>
                    Siddhartha chakraborty
                </post-name>
            </post-header>
            <post-body>
                <img src="/FaceBook_Clone/uploads/srk.jpg" height="335px" width="460px" alt="sorry">
            </post-body>
            <post-footer>

            </post-footer>
        </post>

        <post class="post">
            <post-header>
                <dp>
                    <img src="/FaceBook_Clone/uploads/people.jpg" alt="sorry" height="40px" width="40px">
                </dp>
                <post-name>
                    Siddhartha chakraborty
                </post-name>
            </post-header>
            <post-body>
                <img src="/FaceBook_Clone/uploads/salman.jpg" height="335px" width="460px" alt="sorry">
            </post-body>
            <post-footer>

            </post-footer>
        </post>
    </posts>
</body>

</html>